{% extends "proyectos/pagina_suscripciones/base.html" %}
{% load static %}

{% block contenido %}
    <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static "assets/proyecto_suscripciones.png" %}" style="width: 100%" /></div>
                <div class="col-lg-7">
                    <h1 class="font-weight-light">Suscripción Premium: Acceso Ilimitado</h1>
                    <p>Desbloquea herramientas exclusivas para potenciar tu carrera como desarrollador. Únete a nuestra comunidad y accede a contenido especializado, mentorías y recursos descargables cada mes.</p>
                    <a class="btn btn-primary" href="{% url "cuenta:login" %}">¡Empieza Ahora!</a> <!--Esto ira al inicio de sesion-->
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Elige el plan que mejor se adapte a tus metas profesionales y comienza hoy mismo. <br>{% if request.user.is_authenticated %}
                            <p>Conoce nuestros planes:</p>
                        {% elif not request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url "cuenta:login" %}">Es necesario registrar usuario para poder suscribirse</a></li>
                        {% endif %}</p></div>
            </div>
            {% if request.user.is_authenticated %}
                            {% if suscripcion_usuario %}
                                <div class="alert alert-success">
                                    <strong>Suscripción activa:</strong> 
                                    {{ suscripcion_usuario.suscripcion.nombre }} <br>
                                    Válida hasta: {{ suscripcion_usuario.fecha_vencimiento|date:"d/m/Y" }}
                                </div>
                            {% else %}
                                <div class="alert alert-warning">
                                    No tienes una suscripción activa.
                                </div>
                            {% endif %}
                        {% endif %}
            <!-- Content Row-->
            <!--los planes se haran por admin, por lo que solo se necesita una tarjeta de boceto-->
            <div class="row gx-4 gx-lg-5">
                {% for suscripcion in suscripciones %}
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{suscripcion.nombre}}</h2>
                            <p class="card-text">{{suscripcion.descripcion}}</p>
                        </div>
                        <div class="card-footer"><a href="{% url 'pagos:crear_pago' suscripcion.id %}" 
                        class="btn btn-primary btn-suscribirse">
                        Suscribirme
                        </a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock contenido %}

{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>

<script>
    document.querySelectorAll(".btn-suscribirse").forEach(btn => {
    btn.addEventListener("click", function(e) {
        e.preventDefault();

        fetch(this.href)
            .then(response => {
                if (response.status === 401) {
                    window.location.href = "/login/";
                    return;
                }
                return response.json();
            })
            .then(data => {
                if (!data) return;

                const stripe = Stripe("pk_test_51T3RS2Bm2SKJ1Qf4SNnIGdrNi0hVtYNpLLxlr4SuzwSewYuC65J9WfQv7dOIbvCL6l7xz1c4J0TdMd4FOrFR2zmy00FnXTBTeH");
                stripe.redirectToCheckout({ sessionId: data.sessionId });
            });
    });
});
</script>
{% endblock scripts %}

