{% extends "proyectos/pagina_suscripciones/base.html" %}
{% load static %}

{% block contenido %}
    <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static "assets/proyecto_suscripciones.png" %}" style="width: 100%" /></div>
                <div class="col-lg-7">
                    <h1 class="font-weight-light">Suscripción Premium: Acceso Ilimitado</h1>
                    <p>Desbloquea herramientas exclusivas para potenciar tu carrera como desarrollador. Únete a nuestra comunidad y accede a contenido especializado, mentorías y recursos descargables cada mes.</p>
                    <a class="btn btn-primary" href="{% url "cuenta:login" %}">¡Empieza Ahora!</a> <!--Esto ira al inicio de sesion-->
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Elige el plan que mejor se adapte a tus metas profesionales y comienza hoy mismo.</p></div>
            </div>
            <!-- Content Row-->
            <!--los planes se haran por admin, por lo que solo se necesita una tarjeta de boceto-->
            <div class="row gx-4 gx-lg-5">
                {% for suscripcion in suscripciones %}
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{suscripcion.nombre}}</h2>
                            <p class="card-text">{{suscripcion.descripcion}}</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Suscribirme</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock contenido %}