<footer class="bg-primary py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0" style="color: white;">Copyright &copy;© 2026 David Cortes — Backend Developer Junior</div></div>
                    <div class="col-auto">
                        <a class="small" style="color: white; text-decoration:none;" href="{% url "portafolio:inicio" %}">Inicio</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" style="color: white; text-decoration:none;" href="{% url "portafolio:proyectos" %}">Proyectos</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" style="color: white; text-decoration:none;" href="https://www.linkedin.com/in/david-alejandro-cortes-martha-b6835721b/" target="_blank">linkedin</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" style="color: white; text-decoration:none;" href="{% url "portafolio:contacto" %}">Contactos</a>
                    </div>
                </div>
            </div>
        </footer>
